.container {
  .inner-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    @media only screen and (max-width: 900px) {
      grid-template-columns: repeat(2, 1fr);
    }
    .card {
      // z-index: 2;
      background-color: white;
      transition: all 0.2s ease-in-out;
      box-shadow: 0 8px 12px 0 rgb(36 119 223 / 17%);
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.18);
      color: var(--blue-400);
      align-content: center;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .value {
        color: var(--gray-800);
      }
      .icon {
        transition: all 0.4s ease-in-out;
        font-size: 1.5rem;
      }
      &:hover {
        transform: scale(1.05);
        .icon {
          transform: scale(1.3);
        }
      }
    }
  }
  .chart-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    p-chart {
      display: block;
      height: 100%;
      position: relative;
      max-height: 50vh;
      width: 100%;
      div {
        height: 100%;
        width: 100%;
      }
    }
  }
}
