<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
/>
<div class="h-full relative">
  <div class="background absolute"></div>
  <div class="outer-container flex flex-column">
    <div class="header mb-3">
      <div class="font-bold text-4xl mb-1 text-white">
        HI, RAM<span class="waving-hand ml-2">👋</span>
      </div>
      <div class="text-gray-500">Here's what's happening with your money</div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
